# Les tuples

Un tuple est une liste qui ne peut plus être modifiée.

C'est interressant parce que

In [2]:
l=['Steven','Oumar','Zak','Fred','David','Marianna','Myriam','Lochlean']
t=('Steven','Oumar','Zak','Fred','David','Marianna','Myriam','Lochlean')

In [3]:
l

['Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam', 'Lochlean']

In [4]:
t

('Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam', 'Lochlean')

Pas de soucis il y a la meme chose dans nos deux varibles de type differents.
Mais si je créé une autre liste égale à l. Toutes mes modifications dans cette nouvelle liste se repercute sur l !!!!!

In [1]:
a=l
# J'enlève le dernier prénom de la liste. Désolé lochlean :)
#supprime pop
a.pop()
a.append('Damien')

NameError: name 'l' is not defined

In [6]:
l

['Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam']

Maitenant, si je fais la meme chose sur mon tuple, que se passe t il ?

In [26]:
# C'est un moyen de recuperer la copie de ce tuple en list
a=list(t)
# Vous pouvez maintenant essayer le pop()
a.pop()

'Lochlean'

In [9]:
t

('Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam', 'Lochlean')

#### Donc attention en python avec la copie de variables.

Dans un tuple, on peut mettre n'import quoi

In [27]:
mon_tuple = ("ok")

In [28]:
# on peut le creer comme ça egalement
mon_tuple= "ok",1
mon_tuple

('ok', 1)

In [29]:
mon_tuple = ("ok",1,"ertr4")
mon_tuple

('ok', 1, 'ertr4')

In [30]:
# on essaie la variable
var=456
mon_tuple = ("ok",1,"jgljgf('')",var)
mon_tuple

('ok', 1, "jgljgf('')", 456)

Comme pour une liste, on le verra tres bientot :) On peut afficher la valeur d'un des éléments en utilisant une sorte d'index.

In [14]:
# pour afficher le premier élement
mon_tuple[0]

'ok'

Oui je sais, c'est pardoxal. Index 0 pour le premier élement ...
C'est comme ça dsl :(

Tiens faites moi une petite boucle sur ce tuple pour afficher tout ses élements.

nb:Vous pouvez afficher les éléments de ce tuple en faisant comme si c'etait une liste. Je vous laisse faire

ok
1
jgljgf('')
456

In [62]:
# Autre possibilité
for i in range(len(mon_tuple)):
    print(mon_tuple[i])

ok
1
jgljgf('')
456

In [64]:
mon_tuple[0]

'ok'

Pout finir avec les tuples:
Affectation multiple

In [16]:
v1, v2 = 11, 22

In [17]:
v1

11

In [18]:
v2

22

On utilisera un tuple pour définir des sortes de constantes qui n'ont donc pas vocation à changer...

# Les listes

Point hyper important car les listes c'est juste hyper utile.

Nous pouvons créer des listes à la main mais, c'est un peu embêtant et pas tres automatisable...

In [19]:
# Créer une liste vide, nécessaire lorsque vous devez remplir une liste à la main
liste = ["ltdgd"]

In [20]:
# Pour ajouter un element dans la liste :
liste.append("David")
liste.append(1)
#une variable
var=4566
liste.append(var)
#une liste
liste.append(a)
# un tuple !
liste.append(mon_tuple)
liste

['ltdgd',
 'David',
 1,
 4566,
 ['Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam'],
 ('ok', 1, "jgljgf('')", 456)]

In [21]:
# Visualisation par un index:
liste[0]

'ltdgd'

In [22]:
# Visualiser
# le dernier element
print(liste[-1])
# le premier element
print(liste[0])

# jusqu'au 3 eme element
print(liste[:3])

# à partir du 3 eme element
print(liste[2:])

('ok', 1, "jgljgf('')", 456)
ltdgd
['ltdgd', 'David', 1]
[1, 4566, ['Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam'], ('ok', 1, "jgljgf('')", 456)]

In [23]:
# C'est moche, on efface le dernier élement
del liste[-1]
# ou
liste.pop()

['Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam']

In [24]:
liste

['ltdgd', 'David', 1, 4566]

Pensez à recreer votre liste en réexecutant les cellules plus hautes (lorsque l'on a initialisé ses valeurs)

In [100]:
# Je veux enlever cet élement de la liste des apprenants 
# ['Steven', 'Oumar', 'Zak', 'Fred', 'David', 'Marianna', 'Myriam', 'Lochlean']
liste.remove(1)
print(liste)

['ltdgd']

In [112]:
liste.append(12)

In [32]:
liste

['ltdgd', 'David', 1, 4566]

In [31]:
# Combien d'éléments dans ma liste ? Attention, un tuple de plusieurs éléments ne vaut qu'1 élément
len(liste)

4

In [33]:
# Je compte l'occurence d'un element
liste.count(1)

1

In [35]:
# Je retrouve l'index d'un élément de la liste
liste.index(1)

2

Bon, quels sont les élements qui restent sur ma liste ? Faites une boucle sur liste et afichez les ?

Maitenant, nous allons faire la meme chose mais avec une fonction sympa qui recupere egalement les index

In [36]:
for elem in enumerate(liste):
    print(elem)

(0, 'ltdgd')
(1, 'David')
(2, 1)
(3, 4566)

On revient egalement sur l'histoire des copies de liste

In [88]:
x = [1,2,3]
y = x
y

[1, 2, 3]

In [95]:
# En modifiant le premier element d' y je modifie celui de x car ils sont copies
y[2] = 4
x

[4, 4, 4]

si vous changez une valeur de la liste y , la liste x sera elle aussi affectée par cette modification

L'astuce se situe au moment de la copie

In [96]:
x = [1,2,3]
y = x[:]
y[0] = 9
x

[1, 2, 3]

In [44]:
y

[9, 2, 3]

Pouvez vous me faire une liste qui contiendrait les cents premiers nombres entiers

Vous pouvez mettre dans une liste les elements de l dont la longueur est supérieur à 5 ?

In [45]:
l=['Steven','Oumar','Zak','Fred','David','Marianna','Myriam','Lochlean']

Je rabache, mais les listes sont des formats tres utiles en python. 

Ci dessous nous allons travailler avec des strings (chaines de caracteres) et les transformer en liste

In [1]:
a='je_suis_david_beckham'
# Je cree une liste en decoupant la chaine a dès que l'on voit le carctere "_" 
# c est le role de la fonction split()
a.split('_')

['je', 'suis', 'david', 'beckham']

Comment feriez vous pour couper la chaine de caractere suivante à chaque espace ' ' et la ranger dans une liste:

In [97]:
a='je suis david beckham'

Pouvez vous me faire une liste alphabet qui comprendrait l'ensemble des lettres de l'alpabet ?

In [47]:
alpha='a b c d e f g h i j k l m n o p q r s t u v w x y z'

Pour transformer une liste en chaine de caractere, utilisez la fonction ''.join()

In [48]:
a=['je', 'suis', 'david', 'beckham']
' '.join(a)

'je suis david beckham'

In [49]:
'_'.join(a)

'je_suis_david_beckham'

In [50]:
# Connaitre la presence d'un element dans une liste
'je' in a

True

In [51]:
'jfddg' in a

False

La fonction range génère une liste composée d'une simple suite arithmétique

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Pour mettre bout à bout deux listes, vous pouvez utiliser la méthode extend ou +

In [53]:
x = [1, 2, 3, 4]
y = [4, 5, 1, 0]
x.extend(y)
x

[1, 2, 3, 4, 4, 5, 1, 0]

In [54]:
x + y

[1, 2, 3, 4, 4, 5, 1, 0, 4, 5, 1, 0]

In [55]:
# ca s 'est fort !
x = [1, 2]
x*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

Créer la liste des apprenants et faites un programme de volontariat aléatoire imposé :) 
Nous pourrions lancer le code pour choisir un apprenant au hasard


Help: Fait un tirage aléatoire d'un entier compris de 0 au nombre d'apprenants (len(liste))

par exemple :liste[randint(0,nb_d_apprenant)] )

Vous pouvez egalement faire un programme qui tire au hasard une lettre du dictionnaire et qui affiche le premier prenom de la liste des apprenants qui contient cette lettre